    /* Heading Section */
    .section-title {
        margin-top:40px;
        text-align: center;
    }
    .section-title h4{
        font-size:26px;
        color:#c55;
        font-style:italic;
    }
    .section-title h1{
        font-size:55px;
        font-weight:800;
        color:#116633;
        margin:10px 0;
    }
    .subtitle{
        font-size:18px;
        color:#444;
        margin-bottom:30px;
    }
    .footer-logo img {
    width: 180px;
}



    /* Social Icons */
    .icons{
        display:flex;
        justify-content:center;
        gap:20px;
        margin-bottom:40px;
    }
    .icons div{
        width:55px;
        height:55px;
        background:#f4c12f;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:12px;
        font-size:25px;
        cursor:pointer;
        transition:0.3s;
    }
    .icons div:hover{
        transform:translateY(-5px);
    }

    /* Auto Scroll Gallery */
    .gallery-wrapper{
        overflow:hidden;
        width:100%;
        white-space:nowrap;
        padding:20px 0;
        margin-bottom: -74px;
    }

    .gallery{
        display:flex;
        gap:25px;
        animation: scroll 18s linear infinite;
    }

    .gallery img{
        width:300px;
        height:260px;
        object-fit:cover;
        border-radius:10px;
        border:8px solid #fff;
        box-shadow:0 4px 8px rgba(0,0,0,0.3);
    }

    /* Continuous Scroll Animation */
    @keyframes scroll {
        0%   { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }








    
    /* Fade In Left Animation */
    .fade-left {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 1s ease-out;
    }
    .fade-left.show {
        opacity: 1;
        transform: translateX(0);
    }

    /* Banner Section */
    .banner-wrapper{
        width:100%;
        overflow:hidden;
        background:#d4552d;
        padding:18px 0;
        border-top:4px solid #00000033;
        border-bottom:4px solid #00000033;
        white-space:nowrap;
    }

    .banner{
        display:flex;
        gap:50px;
        /* animation: scrollBanner 14s linear infinite; */
    }

    .banner span{
        font-size:40px;
        font-weight:700;
        color:#fff;
        text-shadow:1px 1px 1px #00000033;
    }

    .star{
        color:#ffcc48;
        font-size:35px;
        font-weight:900;
    }

    @keyframes scrollBanner{
        0%{ transform:translateX(0); }
        100%{ transform: translateX(-50%); }
    }





        .visit-section{
        background:#d5562d;
        margin:60px auto;
        padding:50px 30px;
        max-width:1100px;
        border:5px solid #fff;
        outline:4px solid rgba(255,255,255,0.4);
        outline-offset:-30px;
        color:#fff;
        text-align:center;
    }

    .visit-title{
        font-size:26px;
        font-style:italic;
        margin-bottom:15px;
    }

    .main-heading{
        font-size:48px;
        font-weight:800;
        line-height:1.2;
        text-transform:uppercase;
        max-width:800px;
        margin:0 auto 40px auto;
    }

    .info-container{
        display:flex;
        justify-content:space-between;
        gap:40px;
        flex-wrap:wrap;
        margin-top:30px;
    }

    .info-box{
        flex:1;
        min-width:300px;
        text-align:center;
    }

    .info-title{
        font-size:20px;
        font-weight:700;
        margin-bottom:10px;
        /* display:flex; */
        align-items:center;
        gap:10px;
    }

    .info-text{
        line-height:1.6;
        font-size:16px;
        padding-left:32px;
    }

    .info-list li{
        margin:6px 0;
        list-style:none;
    }

    .icon{
        font-size:22px;
    }
    img.firstimg {
    width: 300px;
    height: 360px;
}



    /* ============================
       FOOTER SECTION (GREEN)
    ============================= */
    .footer{
        background:url(../images/footerimg.png) no-repeat center/cover;
        padding:60px 80px;
        /* display:flex; */
        justify-content:space-between;
        flex-wrap:wrap;
        align-items:flex-start;
    }

    .footer-logo{
        font-size:60px;
        font-weight:800;
        color:white;
        text-shadow:5px 5px 0px rgba(0,0,0,0.3);
    }

    .footer-menu{
        display:flex;
        flex-direction:column;
        gap:12px;
        font-size:20px;
        font-weight:600;
    }

    .footer-menu a{
        text-decoration:none;
        color:white;
        transition:0.3s;
    }

    .footer-menu a:hover{
        color:#f4c98b;
    }

    .social-icons{
        display:flex;
        gap:15px;
        margin-top:20px;
    }

    .social-icons div{
        width:45px;
        height:45px;
        background:#e9a41a;
        color:black;
        font-size:20px;
        font-weight:bold;
        display:flex;
        justify-content:center;
        align-items:center;
        border-radius:10px;
        box-shadow:4px 4px 0px black;
        cursor:pointer;
    }

    /* Bottom copyright area */
    .bottom-line {
    border-top: 2px solid rgb(213 86 45);
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    background: #0d5935;
}


    .bottom-line a{
        color:white;
        text-decoration:none;
    }
.footerclsa {
    display: flex;
    background: #0d5935;
    padding: 60px 80px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

