@media (max-width:767px){
    .brew-section {
    display: block;
}
.navbar {
     flex-direction: unset !important; 
}
.main-title{
    padding: unset !important;
}
    .photo.top img {
        width: 260px !important;
        height: 200px !important;
    }

.photo.bottom {
    left: unset !important;
    bottom: unset !important;
    margin-top: 30px !important;
}
.photo.bottom img {
        width: 240px !important;
        height: 320px !important;
}
#brewly .sticker img {
    width: 100px;
}
#brewly .sticker {
    top: -37px;
    left: -9px;
}
.sticker-green {
        bottom: -367px !important;
        right: 62px !important;
        width: 60px !important;
        z-index: 2;
}
.image-wrapperr {
        order: 2 !important;
}
.text-contentt.fade-in-up.delay-1{
    margin-top: 60px !important;
}
.logo {
    margin-left: unset !important;
}
.decor.decor-right img {
    width: 60px !important;
}
.decor-right {
    left: 18px !important;
    top: 365px !important;
}
.decor.decor-bottom img {
    width: 61px !important;
}
.decor-bottom {
    bottom: 200px !important;
            right: 37px !important;
}
.sticker.welcome-sticker img {
    width: 180px !important;
}
.hero-title {
    padding-top: 50px !important;
}
.sticker-green img {
    width: 140px !important;
}
.wave.red img {
    width: 60px !important;
}
.wave.blue img {
    width: 60px !important;
}
.imagee.bottom {
    right: -137px !important;

}
.imagee.bottom img {
    width: 260px !important;
    height: 290px !important;
}
.stickerr img {
    width: 115px !important;
}
.stickerr {
        top: 308px !important;
}
.kicker.in-view {
    padding-top: 250px !important;
}
.footer {
    padding: 60px 16px !important;
}
.info-text{
    padding-left: unset !important;
}
.imagee.top {
    right: -140px !important;
}
.stickerr {
        right: 44px !important; 
}
nav{
    background: #fff;
    top:110px;
}
nav ul li {
    color: #000;
}
.order-container {
    display: block !important;
}
.sectiondetail {
    display: block;
}
.menu-items{
    width: unset !important;
}
.order-section {
    padding: 90px 20px !important;
}
.ordercloumn {
    margin-bottom: 20px;
}
.details-section {
    padding: 90px 20px;
}
.detailsec1{
    width: unset !important;
}
.menu-filters {
    flex-direction: column !important;  
    margin-right: 5px !important;
}
#about .decor-bottom {
    left: 262px !important;
}
.brewly-content {
    padding-left: 0px;
}
.detailsec {
    width: unset;
    margin-bottom: 10px;
}
.left-side .img2 {
    bottom: -350px !important;
    left: -1px !important;
}
.video-icon {
    top: 85% !important;
    left: 222px !important;
}
.coffee-section {
    padding: 60px 8%;
}
.sticker1 {
    right: 169px;
}
.counter-container {
    display: block;
}
.counter-box {
    text-align: center;
    padding-bottom: 20px;
}
.blogcard {
    padding: 80px 20px 0px;
}















}
